// ========================================================================
// COUNTDOWN
// ========================================================================

@import '~sassHelpers';

.countdown {
  margin-bottom: spacer(6);
  text-align: center;

  &--ski {
    div {
      background: rgba(rgb(51, 152, 0), 0.7);
    }
  }

  &--zoe {
    div {
      background: rgba(rgb(181, 0, 0), 0.7);
    }
  }

  &__title {
    margin-bottom: spacer(1);
    font-size: font-size(f3);
    text-transform: uppercase;

    @include bp(10) {
      font-size: font-size(f4);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-left: -(spacer(1));

    li {
      padding-left: spacer(1);

      div {
        width: 65px;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        border-radius: 4px;

        @include bp(10) {
          width: 100px;
          height: 120px;

          span:first-child {
            font-size: font-size(f5);
          }
          span:last-child {
            font-size: font-size(f2);
          }
        }
      }

      span:first-child {
        font-size: font-size(f4);
      }
    }
  }
}
