// ========================================================================
// APP/COMPONENTS/HEADER
// ========================================================================

@import '~sassHelpers';

.site-header {
  height: 10vh;
  line-height: 10vh;
  background: color(main);
  color: white;
  text-align: center;

  &__title {
    font-size: font-size(f2);
  }
}
