// ========================================================================
// SETTINGS/FONT-SIZES
// ========================================================================

$font-sizes: (
  f1: 14px,
  f2: 18px,
  f3: 24px,
  f4: 30px,
  f5: 48px,
);
