// ========================================================================
// SETTINGS/LAYOUT
// ========================================================================

$max-width: 1224px;
$grid-columns: 12;
$rhythm: $line-height-px;
$gutter: $line-height-px / 2;
