// ========================================================================
// SETTINGS/SPACERS
// ========================================================================

$spacer: $line-height-px / 4;
$range: 6;

$spacers: (
  1: $spacer,
);

@for $i from 1 through $range {
  $ranges: ($i + 1: $spacer * ($i + $i));
  $spacers: map-merge($spacers, $ranges);
}
